<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.cmfz.dao.ManagerDao">
    <resultMap id="manager" type="com.baizhi.cmfz.entity.Manager">
        <id property="mgrId" column="mgr_id" />
        <result property="mgrName" column="mgr_name" />
        <result property="mgrPwd" column="mgr_pwd" />
        <result property="mgrSalt" column="mgr_salt"/>
        <result property="mgrStatus" column="mgr_status"/>
    </resultMap>
    <resultMap id="role" type="com.baizhi.cmfz.entity.Role">
        <id property="roleId" column="id"></id>
        <result property="roleName" column="role_name"></result>
        <result property="roleTag" column="role_tag"></result>
    </resultMap>
    <resultMap id="permission" type="com.baizhi.cmfz.entity.Permission">
        <id property="permissionId" column="id"></id>
        <result property="resourceName" column="resource_name"></result>
        <result property="resourceTag" column="resource_tag"></result>
        <result property="resourceUrl" column="resource_url"></result>
        <result property="permissionTag" column="permission_tag"></result>
    </resultMap>
     <select id="findManager" resultMap="manager">
         select * from t_user where mgr_name=#{0}
     </select>

    <select id="findRolesByUserName" resultMap="role">
        select
            *
        from
            t_role
        where
            id in(
            select
                role_id
            from
                t_user_role
            where
                user_id=(
            select
                mgr_id
            from
                t_user
            where
                 mgr_name=#{0}
             )
        )
    </select>
    <select id="findPermissionByUserName" resultMap="permission">
        select
            *
        from
            t_permission
        where
            id in(
            select
                permission_id
            from
                t_role_permission
            WHERE
                role_id in(
                    select
                        id
                    from
                        t_role
                    where
                        id in(
                        select
                            role_id
                        from
                            t_user_role
                        where
                            user_id= (
                        select
                            mgr_id
                        from
                            t_user
                        where
                            mgr_name='zimo'
                        )
                    )
                )
            )
    </select>
</mapper>
