<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.cmfz.dao.MasterDao">
     <resultMap id="master" type="com.baizhi.cmfz.entity.Master">
         <id property="masterId" column="master_ID" />
         <result property="masterName" column="master_Name"/>
         <result property="masterPhoto" column="master_Photo"/>
         <result property="masterSummary" column="master_Summary"/>
     </resultMap>

    <select id="selectByName" resultMap="master">
        select * from master
        where master_Name like CONCAT('%',#{name},'%' )
        limit #{start},#{end}
    </select>

    <select id="selectById" resultMap="master">
        select * from master
        where master_ID = #{0}
    </select>

    <select id="selectAll" resultMap="master">
        select * from master
        <if test="start!=null">
            limit #{start},#{end}
        </if>
    </select>

    <update id="update">
        update master
        set master_Name=#{masterName},master_Photo=#{masterPhoto},master_Summary=#{masterSummary}
        where master_ID=#{masterId}
    </update>

    <select id="getCountByName" resultType="java.lang.Integer">
        select count(*)
        from master
        where master_Name like CONCAT('%',#{0},'%' )
    </select>

    <select id="getCount" resultType="java.lang.Integer">
        select count(*)
        from master
    </select>

    <insert id="insert">
        insert into master
        values(#{masterId},#{masterName},#{masterPhoto},#{masterSummary})
    </insert>
</mapper>
